@import "mixins";
$darkBlue: rgba(0, 74, 128, 1);
$darkGray: rgba(25, 25, 25, 1);

body {
  background-color: white;
  font-size: 62.5%;
}

h1 {
  font-size: 4em;
  margin: 0.8em 0em;
  vertical-align: middle;
}

h2 {
  font-size: 3em;
  margin: .6em 0em;
  vertical-align: middle;
}

h3 {
  font-size: 2em;
  margin: .4em 0em;
  vertical-align: middle;
}

h4 {
  font-size: 1.8em;
  margin: .34em 0em;
  vertical-align: middle;
}

p, li {
  font-size: 1.6em;
}

#welcomeBanner {
  text-align: center;
  margin: 1em auto;
}

#intro {

}

#getStarted {
  @extend .well;
}

#currentRoom {
  @include border-radius(5px);
  padding: 2em;
  @extend .well;
  @extend .span6;
  @extend .offset3;
}

#playersList {
  list-style: none;
}

#playersList li.ready {
  color: green;
}

#mainArea {
}

#systemManagement h3 {
  margin: 0em 0em;
}


#readyDisplay {
  display: inline;
}
#inputReady {
  vertical-align: middle;
  display: none;
}

// #inputReady[data-status="ready"]::after, #inputReady::after, div::after {
#inputReady[data-status="ready"] {
  background: green;
  margin-left: 1.2em;
  vertical-align: middle;
  position: relative;
  top: -.2em;
  height: 1em;
  @extend .label;
  padding: .1em .3em;
}
#inputReady[data-status="ready"]::after {
  content: "CLICK TO UNREADY";
  font-weight: bold;
  color: white;
}
#inputReady[data-status="unready"]{
  margin-left: 1.2em;
  vertical-align: middle;
  position: relative;
  top: -.2em;
  height: 1em;
  padding: .1em .3em;
  @extend .label;
  background: gray;
}
#inputReady[data-status="unready"]::after {
  content: "CLICK TO READY";
  font-weight: bold;
  color: white;
}

#inputPlayerName {
  font-size: 2em;
  height: 1.5em;
  vertical-align: middle;
  display: inline-block;
  padding: auto;
  margin: 0px;
}

#buttonConnect {
  vertical-align: middle;
  margin: 0px;
}


#gameArea {
  @extend .well;
  @extend .span8;
  @extend .offset2;
  display: none;
}

.question {
}

#questionTemplate {
  display: none;
}



#playerAnswer {
  margin-left: auto;
  margin-right: auto;
  display: block;

}
