@import "mixins";
$darkBlue: rgba(0, 74, 128, 1);
$darkGray: rgba(25, 25, 25, 1);

body {
  background-color: white;
  font-size: 62.5%;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin: 0.8em 0em;
  vertical-align: middle;
}

h2 {
  font-size: 3em;
  margin: .6em 0em;
  vertical-align: middle;
}

h3 {
  font-size: 2em;
  margin: .4em 0em;
  vertical-align: middle;
}

h4 {
  font-size: 1.8em;
  margin: .34em 0em;
  vertical-align: middle;
}

p, li {
  font-size: 1.6em;
  line-height: normal;
}


#welcomeBanner {
  position: absolute;
  top: 50px;
  left: 80px;
}
#roomName {
  position: absolute;
  top: 85px;
  left: 80px;
}
#gameStatus {
  position: absolute;
  top: 110px;
  left: 80px;
}

.topWrapWrap {
  position: absolute;
  top: 20px;
  width: 100%;
}

.topWrap {
  margin: 0px auto;
  display: block;
  float:none;
  text-align: left;
}

#intro {
  text-align: center;
}
#intro #instructions {
  font-size: 1.8em;
}

.bodyWrapWrap {
  position: absolute;
  top: 150px;
  width: 100%;
  @extend .row;
}
.bodyWrap{ 
  margin: 0px auto;
  display: block;
  float:none;
  text-align: left;
}


#getStarted {
  @extend .well;
}

#currentRoom {
  padding: 2em;
  @extend .well;
  @extend .span6;
  @extend .offset3;
  display: none;
}

#playersList {
	margin-bottom: 20px;
}

#playerSlotTemplate {
  display: none;
}

.playerSlot {
  font-size: 2em;
  padding: 10px 2px;
  border-bottom: 1px solid rgba(30, 30, 30, .35);
}
.playerSlot:last-child {
  border-bottom: none;
}

.playerSlot[data-empty] {
  display: block;
  color: lighten(black, 15%);
}

.playerSlot[data-empty]::after {
  content: "EMPTY SLOT";
  color: lighten(black, 45%);
}

.playerSlot .playerReady {
  display: none;
}

.playerSlot[data-ready] .playerReady {
  display: inline;
  color: black;
  background: green;
}

#playerSlotLocal .playerName {
  color: orange;
  &::after {
    content: " (you)";
  }
}


.playerName {
  font-weight: bold;
}

#systemManagement h3 {
  margin: 0em 0em;
}


#readyDisplay {
  display: inline;
}
#inputReady {
  vertical-align: middle;
  display: none;
}

/*
#inputReady[data-status="ready"] {
  background: green;
  margin-left: 1.2em;
  vertical-align: middle;
  position: relative;
  top: -.2em;
  height: 1em;
  @extend .label;
  padding: .1em .3em;
}
#inputReady[data-status="ready"]::after {
  content: "CLICK TO UNREADY";
  font-weight: bold;
  color: white;
}
#inputReady[data-status="unready"]{
  margin-left: 1.2em;
  vertical-align: middle;
  position: relative;
  top: -.2em;
  height: 1em;
  padding: .1em .3em;
  @extend .label;
  background: gray;
}

#inputReady[data-status="unready"]::after {
  content: "CLICK TO READY";
  font-weight: bold;
  color: white;
}
  */

#inputPlayerName {
  // font-size: 2em;
  height: 28px;
  vertical-align: middle;
  // display: inline-block;
  // padding: auto;
  // margin: 0px;
}

#buttonConnect {
  // vertical-align: middle;
  // margin: 0px;
}

#buttonConnectSettings {
  @include border-radius(0px 6px 6px 0px);

}
#buttonConnectSettings .icon-cog {
}
#getStartedMoreOptions {
  display: none;
}
#inputDesiredPlayers {
  width: 5%;
}


#gameArea {
  @extend .well;
  @extend .span8;
  @extend .offset2;
  display: none;
}

#timer {
	position: absolute;
	top: 50px;
	right: 80px;
}
#gameArea #questions h2#questionsHeader {
  text-align: center;
}

#gameArea #questions {
  text-align: center;
}


.question.solved {
  color: blue;

}

#questionTemplate {
  display: none;
}



#playerAnswer {
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.icon-black {
  background-image: url("../images/glyphicons-halflings.png");
}

#gameOverText, #gameWinnerText {
	text-align: center;
}

