$derp: whitesmoke;
$darkBlue: rgba(0, 74, 128, 1);
$darkGray: rgba(25, 25, 25, 1);

body {
  background-color: white;
  font-size: 62.5%;
}

h1 {
  font-size: 4em;
  padding: 0.8em;
}

h2 {
  font-size: 3em;
  padding: .6em;
}

h3 {
  font-size: 2em;
  padding: .4em;
}

p {
  font-size: 1.6em;
}

#playersBar {
}
#mainArea {
}

#welcomeBanner {
  text-align: center;
  margin: 0 auto;
}


#questions {
  @extend .well;
}

.question {
}

#playerAnswer {
  margin-left: auto;
  margin-right: auto;
  display: block;

}
