#{extends 'main.html' /}
#{set title: 'Maths' /}
#{set 'moreStyles'}
#{stylesheet 'game.scss' /} 
#{/set}
#{set 'moreScripts'} #{script 'game.coffee' /} #{/set}

<div class="container body-wrapper">
  <h1 id="welcomeBanner"> Welcome to Maths 2 </h1>
  <div class="row">
    <div id="playersBar" class="span2 offset"2>
    </div>

    <div id="mainArea"class="span6 offset4">
      <div id="status" class="well">
        <h2> Game status </h2>
        <p>Waiting for others to connect.</p>
      </div>

      <div id="questions" class="well">
        <h2> Current Question </h2>
        <div class="question">
          <p>loading question</<p>
        </div>
      </div>

      <form id="gameForm">
        <input id="playerAnswer" type="text"> </input>
      </form>
    </div>
  </div> <!-- END ROW -->
</div> <!-- end container -->
