#{extends 'main.html' /}
#{set title: 'Maths' /}
#{set 'moreStyles'}
#{stylesheet 'game.scss' /} 
#{/set}
#{set 'moreScripts'}
#{script 'game.coffee' /} 
#{script 'ui.coffee' /} 
#{script 'utils.coffee' /} 
#{script 'jquery.validate.min.js' /} 
#{script 'underscore.js' /} 
#{/set}

<h3 id="welcomeBanner"> Maths II: Mathdool </h3>
<h4 id="roomName"> Room: Bubblehead  </h4>
<h5 id="gameStatus"> <span> <!-- js inject --> </span> </h5>

<h3 id="timer"> Time remaining... </h3>

<div class="topWrapWrap"><div class="topWrap span8">
    <div id="intro" class="alert alert-success notificationBar">
      <a class="close" data-dismiss="alert">&#215;</a>
      <br>
      <p id="instructions"> Welcome to Maths 2, the fun way to practice maths with your friends! 
      To get started, enter your username below and hit connect </p>
    </div>
</div></div>

<div class="bodyWrapWrap"><div class="bodyWrap span6">


    <div id="getStarted">
      <div class="input-append">
        <input placeholder="Enter your username" type="text" id="inputPlayerName"><button type="button" class="btn btn-large btn-primary" id="buttonConnect">Connect</button><button id="buttonConnectSettings" type="button" class="btn btn-large"><i class="icon-black icon-cog"></i> </button>
      </div>
      <div id="getStartedMoreOptions">
        <div class="input-prepend"> 
          <span class="add-on">number of players in game</span><input type="number" value="1" id="inputDesiredPlayers">
          <span class="add-on">polling interval (ms)</span><input type="number" value="1000" id="inputPollingInterval">
          <span class="add-on">round duration (s)</span><input type="number" value="30" id="inputRoundDuration">
        </div>
      </div>
    </div>

    <div id="gameArea">
      <div id="questions" class="well">
        <h2 id="questionsHeader"> Questions </h2>
        <div class="question" id="questionTemplate">
          <h3> question </h3>
        </div>
        <div id="questionsWrapper">
        </div>
      </div>
      <input id="playerAnswer" type="text"> </input>
      <div id="roundTimer"></div>
    </div>


    <div id="currentRoom">
      <div id="playersList">
        <div id="playerSlotTemplate" class="playerSlot" data-empty="empty">
          <span class="playerName"> </span>
          <span class="playerReady"> <i class="icon-black icon-ok"></i> Ready </span>
          <span class="playerScore"> </span> 
        </div>
      </div>
      <a href="#" class="btn" id="inputReady">Click when ready</a> 

      <div id="notifications"> </div>
    </div> <!-- end current room -->
    
    <div id="gameEndScoreboard" class="well">
    	<h2 id="gameOverText">Game over!</h2>
    	<h4 id="gameWinnerText">Haitao wins</h4>
    	<table class="table">
    	<thead><tr id="scoreboardHead"></tr></thead>
    	<tbody id="scoreboardBody"></tbody>
    	</table>
    </div>
    
</div></div> <!-- end bodywrap and bodywrapwrap (ho ho ho) -->
