<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        
        #{stylesheet 'main.css' /}
		#{stylesheet 'bootstrap.min.css' /}
		#{stylesheet 'bootstrap-responsive.min.css' /}
        #{get 'moreStyles' /}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        #{script 'jquery-1.7.1.min.js' /}
        #{script 'bootstrap.min.js' /}
        #{script 'bootstrap-transition.js' /}
		#{script 'bootstrap-modal.js' /}
		#{script 'main.coffee' /}
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
